body {
    color: black;
    background-color: #2D4E6B;
    font-family: 'PT Sans', sans-serif;
}

#Navbar {
    background-color: #19A7CE !important;
}

#logo-img {
    background-image: url('../images/LogoSharkKiTransparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    float: left;
    vertical-align: middle;
}

.navbar-brand a, .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand h1 { /* Shark Ki */
    font-size: 1.5em;
    font-weight: 600;
    color: #EBB663;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}

.align-center-to-logo {
    margin-top: 25%;
}

.navbar-brand p { /* Lychee company */
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    text-align: center;
}

#nav-list li  {
    margin-right: 2em;
}